*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../images/diagoona-bg-3.jpg);
}
form{
    display: inline-block;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    /* border:1px solid white; */
    border: 1px solid white;

    border-radius: 2px;
    
   
    margin-bottom: 100px;


}
container{

    margin-right: 390%;

}