*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: rgb(8, 57, 8);
}
.nav-link{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 /* border:1px solid white;
 border-radius: 10px; */
}
.nav-item a:hover{
background-color: beige;
color:black !important;
transition: 1s;
/* display: block; */

}
.container{
    padding: 10px;
    text-align:justify ;
}


.tm-content-title{
    margin-left: 20px;

}
.tm-service-img{
    margin-left: 20px;
}
.tm-content{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
#foot{
    background-color: rgb(8, 57, 8);
    padding: 20px;
    text-align: center;
    color: white;

}
